:root {
  --white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.85);
  --range-background: rgba(255, 255, 255, 0.70);
  --header-background: rgba(16, 16, 30, 0.90);
  --menu-background: rgba(16, 16, 30, 1);
  --select-open: rgba(60, 64, 81, 0.85);
  --black: #000000;
  --black-2: #272733;
  --link-hover: #43ABF0;
  --blue: #3E9CDC;
  --dark: #3D4050;
  --grey: #BBBBBB;
  --grey-2: #C3C3C3;
  --grey-3: #C4C4C4;
  --button-border: #6F6D7B;
  --h1: 48px;
  --h2: 36px;
  --text: 20px;
  --text-m: 18px;
  --text-s: 16px;
  --link-fs: 13px;
  --button-big: 15px;
  --input-fs: 18px;
}

@media (max-width: 767px) {
  :root {
    --h1: 42px;
    --h2: 30px;
    --text: 18px;
  }
}
@media (max-width: 550px) {
  :root {
    --h1: 32px;
    --h2: 24px;
    --text-m: 16px;
    --text-s: 14px;
  }
}
@media (max-width: 370px) {
  :root {
    --h1: 28px;
    --h2: 22px;
    --text-m: 16px;
    --text-s: 14px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea,
select,
button,
label {
  font-family: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("ttf"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.ttf") format("ttf"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("ttf"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Heavy.ttf") format("ttf"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
html,
body {
  font-size: 16px;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background: var(--dark);
  font-weight: 400;
}

.container {
  padding: 0 20px;
  max-width: 1172px;
  margin: 0 auto;
}

.mopen {
  overflow: hidden;
}

.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
  will-change: transform, opacity;
}
.animated.show {
  opacity: 1;
  transform: translateY(0);
}

.button {
  color: var(--white);
  text-align: center;
  font-size: var(--link-fs);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--white);
  background: var(--blue);
  padding: 12.5px 10px;
  min-width: 183px;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s all ease;
  max-height: 48px;
}
.button:hover {
  color: var(--black-2);
  border-color: var(--button-border);
  background: var(--white);
}
.button--white {
  color: var(--black-2);
  border-color: var(--button-border);
  background: var(--white);
}
.button--white:hover {
  border-color: var(--white);
  background: var(--blue);
  color: var(--white);
}
.button--big {
  font-size: var(--button-big);
  padding: 14px 10px;
}

.steps {
  text-align: center;
  margin-bottom: 80px;
}
.steps-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 209px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .steps-item {
    flex-direction: row;
    max-width: 310px;
  }
}
.steps-item__text {
  color: var(--white);
  font-size: var(--text-s);
  line-height: normal;
  max-width: 189px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .steps-item__text {
    margin-left: 0;
    text-align: left;
  }
}
.steps-item__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  flex-shrink: 0;
}
@media screen and (max-width: 550px) {
  .steps-item__circle {
    width: 85px;
    height: 85px;
  }
}
.steps-item__circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #286690;
  opacity: 0.5;
  animation: pulse 2s infinite;
  z-index: -1;
}
@media screen and (max-width: 550px) {
  .steps-item__circle::after {
    width: 85px;
    height: 85px;
  }
}
.steps-item__circle img {
  width: 55px;
}
@media screen and (max-width: 550px) {
  .steps-item__circle img {
    width: 40px;
  }
}
.steps-item:not(:last-child) .steps-item__circle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: url("../icons/circles.svg") no-repeat;
  background-size: cover;
  width: 110px;
  height: 6px;
  left: 100%;
  margin-left: 13.5px;
}
@media screen and (max-width: 767px) {
  .steps-item:not(:last-child) .steps-item__circle::before {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%, 0) rotate(90deg);
    top: 100%;
    width: 40px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .steps-item:nth-child(3) .steps-item__circle::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .steps-item:nth-child(3) .steps-item__circle::before {
    display: block;
  }
}
.steps-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .steps-list {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .steps-list {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
.steps__text {
  color: var(--grey);
  font-size: var(--text-m);
  line-height: normal;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .steps__text {
    margin-bottom: 60px;
  }
}
.steps__title {
  color: var(--white);
  font-size: var(--h2);
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 550px) {
  .steps__title {
    margin-bottom: 20px;
  }
}
.steps__title span {
  color: var(--blue);
}

.deley-1::after {
  animation-delay: 0.3s;
}
.deley-2::after {
  animation-delay: 0.6s;
}
.deley-3::after {
  animation-delay: 0.9s;
}
.deley-4::after {
  animation-delay: 1.2s;
}
.deley-5::after {
  animation-delay: 1.5s;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
}
.order-group {
  width: calc(33.33% - 20px);
  position: relative;
  min-width: 280px;
}
@media screen and (max-width: 992px) {
  .order-group {
    width: calc(50% - 14px);
  }
}
@media screen and (max-width: 650px) {
  .order-group {
    width: 100%;
  }
}
.order-group__label {
  position: absolute;
  top: 14px;
  left: 10px;
  transition: 0.3s all ease;
  will-change: transform;
  font-size: var(--input-fs);
  transform-origin: left;
}
.order-group--filled .order-group__label {
  top: 2px;
  transform: scale(0.6667);
}
.order-group__input {
  border-radius: 3px;
  border: 1px solid var(--white);
  background: var(--white-opacity);
  font-size: var(--input-fs);
  padding: 16px 10px 8px;
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  outline: none;
  transition: 0.3s border-color ease;
  appearance: none;
  -webkit-appearance: none;
}
.order-group__input:hover {
  border-color: var(--blue);
}
.order-group__input::-webkit-inner-spin-button, .order-group__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.order-group__input::-webkit-contacts-auto-fill-button {
  opacity: 0;
}
.order-group__input:focus, .order-group__input:active {
  border-color: var(--blue);
}
.order-group__input:focus + .order-group__label {
  top: 2px;
  transform: scale(0.6667);
}
.order-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .order-groups {
    gap: 20px;
  }
}
.order .button {
  max-width: 370px;
  width: 100%;
  margin: 40px auto 0;
  display: block;
}

.select {
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--white);
  background: var(--white-opacity);
  width: 100%;
  box-sizing: border-box;
  padding: 11px 10px;
  height: 48px;
  cursor: pointer;
}
.select.active {
  background: var(--select-open);
  border-color: var(--dark);
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}
.select__current {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.select__current-text {
  color: var(--black-2);
  font-size: var(--text-m);
  line-height: normal;
}
.active .select__current-text {
  color: var(--white);
}
.select__current-arrow {
  width: 20px;
  height: auto;
  color: var(--black);
}
.active .select__current-arrow {
  transform: scale(-1);
  color: var(--white);
}
.select__item {
  color: var(--white);
  font-size: var(--text-m);
  line-height: 1;
  transition: 0.3s color ease;
  cursor: pointer;
  padding: 2px 0;
}
.select__item:hover {
  color: var(--link-hover);
}
.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  max-height: 180px;
  background: var(--black-2);
  border: 1px solid var(--dark);
  z-index: 10;
  padding: 2.5px 4px 2.5px 10px;
  box-sizing: border-box;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.select__list-wrap {
  overflow: auto;
  flex-direction: column;
  gap: 14px;
  display: flex;
  max-height: 170px;
  padding: 8px 0;
  box-sizing: border-box;
  overflow-y: scroll;
}
.select__list-wrap::-webkit-scrollbar {
  width: 7px;
}
.select__list-wrap::-webkit-scrollbar-track {
  background: rgba(61, 64, 80, 0.7);
  border-radius: 3px;
}
.select__list-wrap::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 3px;
}
@-moz-document url-prefix() {
  .select__list-wrap {
    scrollbar-width: auto;
    scrollbar-color: var(--blue) rgba(61, 64, 80, 0.7);
    overflow: scroll;
  }
}
.active .select__list {
  display: block;
}

.order-file {
  max-width: 370px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid var(--blue);
  background: var(--white);
  height: 48px;
  box-sizing: border-box;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .order-file {
    margin: 0 auto;
  }
}
.order-file__delete {
  margin-left: auto;
  background: url("../icons/delete.svg") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  position: relative;
}
.order-file__delete::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 140%;
}
.order-file__icon {
  width: 18px;
  height: auto;
  transition: 0.3s transform ease;
}
.order-file__text {
  color: var(--black-2);
  font-size: var(--button-big);
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.order-file__input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.order-file__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.order-file__button:hover .order-file__icon {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
.order-file__block {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.order-range {
  width: 100%;
}
.order-range__input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #FFF;
  box-sizing: border-box;
  background: linear-gradient(to right, #42A9ED 0%, #42A9ED 50%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 100%);
  margin: 0;
}
.order-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #42A9ED;
  box-shadow: 0 0 0 3px #286690;
  border: none;
  cursor: pointer;
  margin-top: -3px;
}
.order-range__input::-moz-range-thumb {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #42A9ED;
  box-shadow: 0 0 0 3px #286690;
  border: none;
  cursor: pointer;
  margin-top: -3px;
}
.order-range__percent {
  color: var(--white-opacity);
  font-size: var(--text-m);
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
}
.order-range__text {
  color: var(--white);
  font-size: var(--text-m);
  line-height: normal;
}
.order-range__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  gap: 10px;
}

.payment {
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment__icon {
  width: 20px;
  height: auto;
  transition: 0.3s transform ease;
}
.payment:hover .payment__icon {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
.payment__text {
  color: var(--grey-2);
  font-size: var(--link-fs);
  line-height: normal;
}
.payments {
  display: flex;
  align-items: center;
  gap: 38px;
  padding: 0 41px;
  border-right: 1px solid var(--grey-2);
  border-left: 1px solid var(--grey-2);
  margin-right: 35px;
}
@media screen and (max-width: 1280px) {
  .payments {
    gap: 20px;
    padding: 0 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .payments {
    padding-left: 0;
    border-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .payments {
    border-right: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }
  .payments::before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 50px;
    background: var(--grey-2);
    height: 1px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.contact__link-text {
  color: var(--white);
  font-size: var(--link-fs);
  line-height: normal;
}
.contact__link-icon {
  width: 20px;
  height: auto;
  transition: 0.3s transform ease;
}
.contact__link:hover .contact__link-icon {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
.contact__links {
  display: flex;
  align-items: center;
  gap: 38px;
}
@media screen and (max-width: 1280px) {
  .contact__links {
    gap: 20px;
  }
}
@media screen and (max-width: 550px) {
  .contact__links {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transition: 0.3s transform ease;
  transform: translate(100%);
}
@media screen and (max-width: 550px) {
  .menu {
    width: 100%;
  }
}
.mopen .menu {
  transform: translate(0);
}
.menu-block {
  height: 100vh;
  width: 450px;
  background: var(--menu-background);
  padding: 110px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
}
@media screen and (max-width: 550px) {
  .menu-block {
    width: 100%;
  }
}
.menu-block__link {
  color: var(--white);
  font-size: var(--link-fs);
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.section--hero {
  background: url("../images/hero_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 850px;
  padding: 200px 0 50px 0;
  box-sizing: border-box;
}
@media screen and (max-height: 700px) {
  .section--hero {
    height: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .section--hero {
    background-position: left;
  }
}
@media screen and (max-width: 550px) {
  .section--hero {
    height: 100%;
    padding: 150px 0 50px 0;
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 550px) {
  .hero__buttons {
    flex-direction: column;
    gap: 20px;
  }
  .hero__buttons .button {
    width: 100%;
  }
}
.hero__item {
  color: var(--black);
  font-size: var(--text);
  line-height: normal;
  position: relative;
}
@media screen and (max-width: 550px) {
  .hero__item {
    font-size: var(--text-m);
  }
}
.hero__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -16px;
  background: var(--black);
  width: 5px;
  height: 1.5px;
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 80px;
  padding-left: 25px;
}
@media screen and (max-width: 767px) {
  .hero__list {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 550px) {
  .hero__list {
    gap: 8px;
  }
}
.hero__text {
  color: var(--black);
  font-size: var(--text);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.hero__title {
  color: var(--black);
  font-size: var(--h1);
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 780px;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .hero__title {
    margin-bottom: 40px;
  }
  .hero__title br {
    display: none;
  }
}
.hero__title-accent {
  color: var(--blue);
}

.section--header {
  background: var(--header-background);
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .section--header {
    padding: 30px 0;
  }
}
.mopen .section--header {
  background: var(--menu-background);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  color: var(--white);
  font-size: var(--link-fs);
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s color ease;
}
.header__link:hover {
  color: var(--link-hover);
}
.header__links {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .header__links {
    display: none;
  }
}
.header__show {
  display: none;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .header__show {
    display: block;
  }
}
.header__show-icon {
  position: relative;
  width: 30px;
  height: 15px;
  display: block;
}
.header__show-icon::before, .header__show-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: var(--white);
  left: 0;
  transition: 0.3s all ease;
  will-change: transform;
}
.header__show-icon::before {
  top: 0;
}
.mopen .header__show-icon::before {
  transform: rotate(45deg);
  top: 5px;
}
.header__show-icon::after {
  bottom: 0;
}
.mopen .header__show-icon::after {
  transform: rotate(-45deg);
  top: 5px;
  bottom: auto;
}
.header__logo {
  outline: none;
  text-decoration: none;
}
.header__logo img {
  width: 245px;
  height: auto;
}
@media screen and (max-width: 370px) {
  .header__logo img {
    width: 190px;
  }
}

.section--footer {
  background: var(--dark);
  padding: 30px 0;
}

.footer {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .footer {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}
.footer__text {
  color: var(--white);
  font-size: var(--link-fs);
  line-height: normal;
  margin-right: 40px;
}
@media screen and (max-width: 1100px) {
  .footer__text {
    width: 100%;
    order: 1;
    margin-right: 0;
    margin-top: 40px;
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .footer__text {
    margin-top: 30px;
  }
}

.section--order {
  background: url("../images/order_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 121px 0 151px;
}
@media screen and (max-width: 767px) {
  .section--order {
    padding: 80px 0;
  }
}

.order-blocks {
  margin-top: 30px;
  display: flex;
  gap: 26px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .order-blocks {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
